<div class="card col-12 mx-auto mt-2" style="max-width: 350px;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{subtitle}}</h6>
        <a href={{route}}>
            <img [src]='img' class="col-12" style="border-radius: 10px;">
        </a>
    </div>
</div>