        <form #formulary='ngForm' (ngSubmit)="onSubmit(formulary)">
            <div class="card box-defalt-shadow">
              <div class="card-title text-center">
                <h4><strong>Login</strong></h4>
              </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">E-mail:<label class="text-danger">*</label></label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Password:<label class="text-danger">*</label></label>
                    <input type="password" class="form-control" id="password" name="password" ngModel>
                </div>
                <div class="mb-2 bg-danger" *ngIf="error!==''">
                  {{error}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
