<div class="background">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
            <app-card img='../../../assets/habits_image.png' title='Hábitos' subtitle='Metodologia mini hábitos' route='/habits'></app-card>
        </div>
    </div>
</div>