.box-defalt-shadow {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px gray;
}

.background {
    position: absolute;
    background: #F3F3F3;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}